aiohttp==3.11.11
APScheduler==3.11.0
fastapi==0.105.0
markdown-it-py==3.0.0
python-dotenv==1.0.1
structlog==24.4.0
itsdangerous==2.2.0
jinja2==3.1.5
python-multipart==0.0.20
pyodbc==5.2.0
SQLAlchemy==2.0.37
aioodbc==0.5.0
greenlet==3.1.1
bcrypt==4.2.1
uvicorn==0.34.0
gunicorn==23.0.0